.picker__day.picker__day--today.picker__day--selected {
    color: #fff !important;
}

.picker__date-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #f44336 !important;
}

.picker__close, .picker__today, .picker__clear, .picker__day--today {
	color: #f44336 !important;
}

.side-nav a {
    padding: 0 16px !important;
}

.side-nav .disabled a {
	color: grey;
}

.spinner-blue {
	border-color: #db4437 !important;
}

.spinner-orange {
    border-color: #ff9800 !important;
}

.spinner-yellow {
	border-color: #f4b400 !important;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.collapsible-body li a {
	padding: 0 32px !important;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cuenta {
	min-height: 50vh;
}

ul.dropdown-content.select-dropdown li span {
    color: #2196f3;
}

#sidenav-overlay {
	z-index: 3;
}

main,
footer {
	padding-left: 200px;
	background-color:#fcfcfc;
}

@media only screen and (max-width: 992px) {
	header,
	main,
	footer {
		padding-left: 0;
	}
}

.side-nav {
	width: 200px !important;
	padding-top: 1px !important;
	height: 90%;
	padding-bottom: 0;
	margin-top: 75px;
	z-index: -1;
}

.navicon {
	line-height: 64px !important;
	margin-left: 0px !important;
	/*display: inline !important;*/
	vertical-align: middle;
}

.nav {
	width: 100% !important
}

.button-collapse {
	padding: 6px 15px !important;
}

.dropdown-option {
	padding: 14px 16px !important;
}

nav ul a {
	padding: 6px 15px !important;
}

.dropdown-button {
	padding: 6px 15px !important;
}

#menuUsuario {
	top: 75px !important;
}

.dropdown-content {
	background: #fcfcfc !important;
}

.dropdown-content li>a>i {
	margin: 0 10px 0 0;
}

nav {
	background: #fcfcfc;
	height: 75px;
}

nav a {
	color: #000 !important;
}

nav img {
	height: 64px;
	margin-bottom: -18px;
	margin-right: 20px;
	margin-top: 4px;
	margin-left: 8px;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}