.centred {
	-webkit-transform: translateX(-50%)translateY(-50%);
	-moz-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
}

.inhabilitado {
  background-color: rgb(224, 224, 224);
}

.habilitado {
  	background-color: rgb(255, 98, 98);
	color: white;
}

.presente {
	background-color: #ff9800 !important;
	color: white;
}

.calendar-container {
	width: 100%;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    top: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.grid {
    height: calc(100% - 230px);
    position: relative;
}

.view-month .grid {
    background-color: white;
	padding: 10px;
    box-sizing: border-box;
    margin-left: 24px;
}

.title {
    width: 100%;
    font-size: 2em;
    padding: 0 30px;
    box-sizing: border-box;
    background: rgb(255, 98, 98);
	color: #fff;
	font-weight: 100;
    line-height: 100px;
    text-align: left;
}

.title.active {
	padding: 0px 30px 0px;
}

.date-year,.month-name.small {
    font-size: .5em;
    opacity: .5;
}


.view-month {
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 50;
    /*background-color: #f44336;*/
}

.rowweek {
    height: 14.28%;
    overflow: hidden;
    width: 100%;
}

.cell {
    float: left;
    height: 100%;
    display: inline-block;
    width: 14.2%;
    text-align: center;
    position: relative;
    font-weight: 300;
    cursor: pointer;
}

.cell.past {
	opacity: .3;
}

.row.week .cell {
	font-weight: 500;
    cursor: default !important;
}

.cell span {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%)translateY(-50%);
	-moz-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
}


@media only screen and (max-width: 1080px) {
	
	.calendar-container {
		width: 100%;
	}
	
}


@media only screen and (max-width: 768px) {
	
	.calendar-container {
		width: 100%;
	}
	
}


@media only screen and (max-width: 480px) {
	
	.calendar-container {
		width: 100%;
		top: 0;
		left: 0;
		border-radius: 0px;
		margin-top: 0px;
	}
	
	.title {
		line-height: 80px;
	}
}